#hidden_form_on_edit_data_cell {
    display: none;
}

table {
    border-collapse: collapse;
    margin-top: 10px;
}

th {
    background-color: #B86EB2;
}

.date_cell {
    background-color: #C9B2D9;
}

th, td {
    border: black solid 1px;
}

.date_cell {
    padding: 5px 10px;
}

.input_cell {
    border: none;
    overflow: visible;
}

.input_cell:onclick {
    border: none;
}

.input_cell:focus {
    background-color: lightsteelblue;
}