<!DOCTYPE html>

<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Calendar</title>

    <link rel="stylesheet" href="/style.css">
</head>

<body>
<!--/*@thymesVar id="date" type="java.lang.String"*/-->

<form method="get" action="/calendar">
    <label>
        From:
        <input type="date" name="date" th:value="${date}">
    </label>
    <input type="submit">
</form>

<form id="hidden_form_on_edit_data_cell" method="post" action="/edit_calendar">
    <input id="on_edit_data_cell___selected_date" type="text" th:value="${date}" name="selected_date">
    <input id="on_edit_data_cell___date" type="text" name="date">
    <textarea id="on_edit_data_cell___new_value" name="new_value"></textarea>
    <input id="on_edit_data_cell___is_deadline_edited" type="text" name="is_deadline_edited">
</form>

<table>
    <!--/*@thymesVar id="days" type="java.util.List<Day>"*/-->
    <!--/*@thymesVar id="day" type="tihonovcore.manage.model.Day"*/-->
    <tr>
        <th>Deadline</th>
        <th>Date</th>
        <th>Plans</th>
    </tr>

    <th:block th:each="day : ${days}">
        <tr>
            <td><textarea class="input_cell" th:text="${day.getDeadline()}"></textarea></td>
            <td th:text="${day.getDate()}" class="date_cell"></td>
            <td><textarea class="input_cell" th:text="${day.getPlan()}"></textarea></td>
        </tr>
    </th:block>
</table>

<script src="/script.js"></script>
</body>
</html>